<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="SQLServerConnection" connectionString="Data Source=DESKTOP-N8UECGQ\SQLEXPRESS;Initial Catalog=laboratorio-software;Integrated Security=True" />
        <add name="MySQLServerConnection" connectionString="server=localhost;user=root;database=laboratorio-software;port=3306;password=" />
        <add name="MongoDBConnection" connectionString="mongodb://localhost:27017/?readPreference=primary&amp;ssl=false" providerName="MongoDB.Driver" />
    </connectionStrings>
</configuration>