<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="SQLServerConnection" connectionString="Data Source=.;Initial Catalog=laboratorio-software;User ID=test;Password=test" />
        <add name="MySQLServerConnection" connectionString="server=localhost;user=root;database=laboratorio-software;port=3306;password=" />
    </connectionStrings>
</configuration>